@page
@model MvcWebApp.Pages.MastersModel
@{
}
<h3>اساتید آموزشگاه رودکی</h3>
<div>
<ul>
    <li>آقای قدسی</li>
    <li>اقای شمسی</li>
    <li></li>
    <li>آقای قلی</li>
    <li>خانم لیلی</li>
</ul>

</div>